aside.logo {
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 2px;
    padding-left: 7px;
    margin-top: 20px; */
    margin: 0 50px;
    width: 131px;
    height: 68px;
    position: sticky;
    top: 0px;
    z-index: 10;
    opacity: 0.92;
    padding: 20px 0;
}

aside.logo img {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100px;
    /* height: 25px; */
    padding-right: 0px;
    /* position: static;
    z-index: 10;
    opacity: 0.92; */
}