.content {
    color: rgb(20, 20, 20);
    font-size: 12px;
    margin-left: 40px;  
    box-sizing: border-box;
    padding: 15px;
}

.barraLateral {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.content ::-webkit-scrollbar {
    display: none;
}